<div class="my-nav">
  <div class="my-left"><h3 class="text-center">CodeFactory Alumni</h3></div>
  <div class="my-right">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Alumni</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Success Stories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/career">Career Oportunities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">News and Events</a>
      </li>
    </ul>
  </div>
</div>
