<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/alumni">Alumni</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/stories">Success Stories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/career">Career Oportunities</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/news">News and Events</a>
  </li>
</ul>
