$main-bg-color:rgb(20, 14, 14);
$letter-color:rgb(220, 208, 208);
$sec-letter:rgb(104, 99, 99);
$secondary-color:rgb(255, 98, 0);
body {
    background-color: $letter-color;
}
.fa, .fa-brands {
    padding: 10px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-linkedin{
    background: blue;
    color: white;
}